.main-container
{
    height: 50vh;
    background-color: rgb(230, 230, 230);
    background-position: center;
    background-size: cover;
    padding-left: 50px;
    font-family: 'Lato', sans-serif;
}

.about-us__section
{
    justify-content: center;
    text-align: center;
    justify-items: center;
    display: flex;
    align-content: center;
    scroll-margin-top: 100px;
}

/* first paragraph */
.about-us__section-paragraph
{
    font-size: 20px;
    max-width: 45vw;
    margin: 0 auto 16px auto 20px;
    text-align: center;
    align-items: center;
}

.about-us__section-header
{
    font-size: 35px;
    text-align: center;
    color: #fff;
    padding: 0;
    margin: 0;
}

.about-us__header-first-part
{
    font-size: 34px;
}

.article-headerM
{
    font-size: 18px;
    color: rgb(223, 108, 32);
}

.article-headerO
{
    text-transform: uppercase;
    color: rgb(223, 108, 32);
    font-size: 60px;
}

/* vertical-line between content */
.about-us__section-line
{
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 8vw;
}

.about-us__vertical-line
{
    width: 2px;
    height: 40vh;
    background-color: rgb(223, 108, 32);
}

/* second content */
.about-us__section-images
{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.about-us__picture
{
    box-shadow: 0 0 7px 7px rgb(223, 108, 32);
    width: 500px;
    height: 214px;
}

.vertical-line__between1,
.vertical-line__between2
{ 
    justify-content: center;
    text-align: center;
    margin: auto;
}

.vertical-line__between-style1,
.vertical-line__between-style2
{
    width: 75vw;
    text-align: center;
    height: 2px;
    background-color: rgb(223, 108, 32);
    margin: 0 auto 0 auto;
}

/* Image between about-us and offer sections */

.image-between__about-offer
{
    height: 30vh;
    background-image: url("../pictures/schody4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 20px;
}

/* Media section */

@media(max-width:767px)
{
    .main-container
    {
        height: 120vh;
    }

    .about-us__section-paragraph
    {
        margin: auto;
    }

    .about-us__header-first-part
    {
        font-size: 26px;
    }

    .article-headerO
    {
        font-size: 30px;
    }

    .about-us__section-line
    {
        display: none;
    }

    .about-us__picture
    {
        display: none;
    }

    .vertical-line__between-style1
    {
        display: none;
    }

    .vertical-line__between-style2
    {
        margin-top: 10px;
    }

    .image-between__about-offer
    {
        display: none;
    }

    .about-us__section
    {
        scroll-margin-top: 72px;
    }
}
