.main-container
{
    height: 100vh;
    background-color: rgb(230, 230, 230);
    background-position: center;
    background-size: cover;
}

.about-us__section
{
    justify-content: center;
    text-align: center;
    justify-items: center;
    display: flex;
    align-content: center;
}

/* first paragraph */
.about-us__section-paragraph
{
    font-size: 18px;
    max-width: 45vw;
}

.about-us__section-header
{
    font-size: 35px;
    text-align: center;
    color: #fff;
}

.about-us__header-first-part
{

}

.article-headerM
{
    font-size: 18px;
    color: rgb(223, 108, 32);
}

.article-headerO
{
    text-transform: uppercase;
    color: rgb(223, 108, 32);
    font-size: 50px;
}

.about-us__section-article1
{

}

.about-us__section-article2
{

}

/* vertical-line between content */
.about-us__section-line
{
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 20vw;
}

.about-us__vertical-line
{
    width: 2px;
    height: 65vh;
    background-color: rgb(223, 108, 32);
    
}

/* second content */
.about-us__section-images
{

}