.main-navigation
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 999;
}



.main-navigation__logo-image
{
    width: 350px;
    margin-left: 20px;
}

@media(max-width:767)
{
    .main-navigation__logo-image
    {
        left: 0;
        width: 200px;
    }   
}

.main-navigation__inner
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto 0 50px;
    letter-spacing: 1.5px;
}

.main-navigation__list
{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 0.5s;
    transition-property: opacity, transform;
}

@media(max-width:767px)
{
    .main-navigation__list
    {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #333;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50%);
    }   
}

@media(max-width:767px)
{
    .main-navigation__list--open
    {
       opacity: 1;
       pointer-events: unset;
       transform: unset;
    }   
}




.main-navigation__list-item
{
    margin-left: 50px;
    padding: 5px 0;
}



.main-navigation__list-link
{
    color: white;
    text-decoration: none;
    font-size: 22px;
    position: relative;
}

@media(max-width:767px)
{
    .main-navigation__list-link
    {
        font-size: 22px;
    }
}

.main-navigation__list-link::before
{
      content: "";
      position: absolute;
      left: 50%;
      right: 50%;
      bottom: 0;
      background: rgb(223, 108, 32);
      height: 4px;
      -webkit-transition-property: left right;
      transition-property: left right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease;
      transition-timing-function: ease-in-out;
}

.main-navigation__list-link:hover:before 
{
      left: 0;
      right: 0;
}

.main-navigation__triangle
{
    color: rgb(223, 108, 32);
}

.main-navigation__mobile-button
{
    display: none;
}

@media(max-width:767px)
{
    .main-navigation__mobile-button
    {
        display: unset;
        background: none;
        border: none;
        padding: 0;
    }
}

@media(max-width:767px)
{
    .main-navigation__mobile-button-image
    {
        width: 30px;
        display: block;
    }
}