/* Main banner section */

@media(max-width:767px)
{
    .main-banner__motto
    {
        font-size: 24px;
    }

    .main-banner__button
    {
        font-size: 14px;
    }
}

@media(max-width:1199px)
{
    .main-banner__motto
    {
        font-size: 32px;
    }

    .main-banner__button
    {
        font-size: 18px;
    }
}

/* Main navigation section */

@media(max-width:767px)
{
    .main-navigation
    {
        width: 100vw;
    }
    .main-navigation__mobile-button
    {
        display: unset;
        background: none;
        border: none;
        padding: 0;
    }

    .main-navigation__mobile-button-image
    {
        width: 30px;
    }

    .main-navigation__list
    {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 70%;
        background: #222;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50%);
    }   

    .main-navigation__list--open
    {
       opacity: 0.9;
       pointer-events: unset;
       transform: unset;
    }   

    .main-navigation__list-link
    {
        font-size: 22px;
    }

    .main-navigation__logo-image
    {
        width: 300px;
    }
}

@media(max-width:1199px)
{
    .main-navigation
    {
        width: 100vw;
    }
    .main-navigation__mobile-button
    {
        display: unset;
        background: none;
        border: none;
        padding: 0;
    }

    .main-navigation__mobile-button-image
    {
        width: 30px;
    }

    .main-navigation__list
    {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 70%;
        background: #222;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50%);
    }   

    .main-navigation__list--open
    {
       opacity: 0.9;
       pointer-events: unset;
       transform: unset;
    }   

    .main-navigation__list-link
    {
        font-size: 22px;
    }

    .main-navigation__logo-image
    {
        width: 300px;
    }
}

/* About-us section */

@media(max-width:767px)
{
    .main-container__about-us
    {
        scroll-margin-top: 6px;
    }

    .about-us__section-paragraph
    {
        width: 100%;
    }
    .about-us__picture
    {
        display: none;
    }

    .vertical-line__between-content
    {
        display: none;
    }
}

@media(max-width:1199px)
{
    .about-us__section-paragraph
    {
        width: 100%;
    }
    .about-us__picture
    {
        display: none;
    }

    .vertical-line__between-content
    {
        display: none;
    }
}


/* Picture between about-us and offer section */


/* Offer sectoion*/

@media(max-width:767px)
{
    .offer-container
    {
        scroll-margin-top: 40px;
    }

    .offer-section__header
    {
        font-size: 24px;
    }

    .offer-section__sentence
    {
        font-size: 16px;
    }

    .offer-section__services-list
    {
        text-align: start;
    }
}

@media(max-width:1199px)
{
    .offer-container
    {
        scroll-margin-top: 20px;
    }

    .offer-section__services-list
    {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(40vh, 1fr));
    }
}

/* Realizations section */

@media(max-width:767px)
{
    .realizations-list
    {
        list-style: none;
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(auto-fill,minmax(40vh, 1fr));
    }
}

/* Footer section */

@media(max-width:767px)
{
    .footer
    {
        display: flex;
        flex-direction: column;
    }

    .footer-header
    {
        font-size: 28px;
    }

    .footer-information
    {
        font-size: 22px;
    }

    .map
    {
        padding-top: 10px;
    }

    .map1
    {
        width: 99vw;
    }
}


