.offer-container
{
    margin-bottom: 10px;
    scroll-margin-top: 120px;
}

.offer-section__sentences
{
    text-align: center;
    font-size: 22px;
    padding: 5px;
}

.offer-section__header
{
    font-size: 40px;
    text-transform: uppercase;
}

.offer-section__first-item-overlay
{
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("../pictures/servbalustrada.jpg");
    width: 350px;
    height: 150px;
    position: relative;
    border-radius: 5%;
    box-shadow: 0 0 4px 3px rgb(223, 108, 32);
    transition: all 0.5s ease-in-out;
    margin: 0.5em;
}

.offer-section__second-item-overlay
{
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("../pictures/servpodjazd.jpg");
    width: 350px;
    height: 150px;
    position: relative;
    border-radius: 5%;
    box-shadow: 0 0 4px 3px rgb(223, 108, 32);
    transition: all 0.5s ease-in-out;
    margin: 0.5em;
}

.offer-section__third-item-overlay
{
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("../pictures/servogrodzenie.jpg");
    width: 350px;
    height: 150px;
    position: relative;
    border-radius: 5%;
    box-shadow: 0 0 4px 3px rgb(223, 108, 32);
    transition: all 0.5s ease-in-out;
    margin: 0.5em;
}

.offer-section__fourth-item-overlay
{
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("../pictures/servschody.jpg");
    width: 350px;
    height: 150px;
    position: relative;
    border-radius: 5%;
    box-shadow: 0 0 4px 3px rgb(223, 108, 32);
    transition: all 0.5s ease-in-out;
    margin: 0.5em;
  }

.offer-section__first-item-overlay:hover,
.offer-section__second-item-overlay:hover,
.offer-section__third-item-overlay:hover,
.offer-section__fourth-item-overlay:hover
{
    transform: scale(1.05);
    cursor: pointer;
}

.offer-section__first-item-overlay .offer-section__picture-text,
.offer-section__second-item-overlay .offer-section__picture-text,
.offer-section__third-item-overlay .offer-section__picture-text,
.offer-section__fourth-item-overlay .offer-section__picture-text,
.offer-section__fifth-item-overlay .offer-section__picture-text,
.offer-section__sixth-item-overlay .offer-section__picture-text,
.offer-section__seventh-item-overlay .offer-section__picture-text
{
    
    position: absolute;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.offer-section__fifth-item-overlay
{
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("../pictures/servzadaszenia.jpg");
    width: 350px;
    height: 150px;
    position: relative;
    border-radius: 5%;
    box-shadow: 0 0 4px 3px rgb(223, 108, 32);
    transition: all 0.5s ease-in-out;
    margin: 0.5em;
}

.offer-section__sixth-item-overlay
{
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("../pictures/servlawka.jpg");
    width: 350px;
    height: 150px;
    position: relative;
    border-radius: 5%;
    box-shadow: 0 0 4px 3px rgb(223, 108, 32);
    transition: all 0.5s ease-in-out;
    margin: 0.5em;
}

.offer-section__seventh-item-overlay
{
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("../pictures/servprojekt.jpg");
    width: 350px;
    height: 150px;
    position: relative;
    border-radius: 5%;
    box-shadow: 0 0 4px 3px rgb(223, 108, 32);
    transition: all 0.5s ease-in-out;
    margin: 0.5em;
}

.offer-section__fifth-item-overlay:hover,
.offer-section__sixth-item-overlay:hover,
.offer-section__seventh-item-overlay:hover
{
    transform: scale(1.05);
    cursor: pointer;
}

.offer-section__services-list
{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


