.realizations
{
    background-image: url("../pictures/backrealizations.png");
    padding: 20px 0;
    scroll-margin-top: 98px;
}

.realizations-header
{
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

.realizations-list
{
    text-align: center;
    list-style: none;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fill,minmax(40vh, 1fr));
}

.realizations-item1
{
    width: 350px;
    height: 300px;
    position: relative;
}

.realizations-item__image1
{
    background-position: center;
    background-size: cover;
    border-radius: 5%;
    width: 350px;
    height: 300px;
}

.realizations-item__info
{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
    border-radius: 5%;
}

.realizations-item1:hover .realizations-item__info
{
    visibility: visible;
    opacity: 1;
}

.realizations-item__title,
.realizations-item__button
{
    transition: 1s;
    transform: translateX(-2em);
}

.realizations-item1:hover .realizations-item__title,
.realizations-item1:hover .realizations-item__button
{
    transform: translateX(0);
}

.realizations-item1:hover .realizations-item__title .realizations-item__link
{
    transform: translateX(0);
}

.realizations-item__title
{
    font-size: 32px;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

.realizations-item__button
{
    font-size: 1.5em;
    height: 12%;
    width: 34%;
    border-radius: 5%;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color:rgb(198, 128, 57);
    border: rgb(198, 128, 57);
    opacity: 1;
    border-radius: 5%;
}

.realizations-item__button:hover
{
    opacity: 1;
    background-color: rgb(255, 128, 0);
    cursor: pointer;
}



